/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-8-15, 11:10:58
    Author     : ghy
*/
.a {
  background: url("sss.png");
}

.a.a_1 {
  background-position: -20px -30px;
}

.a.a_2 {
  background-position: -20px -30px;
}

.a.a_3 {
  background-position: -20px -30px;
}
